# cache file for macOS
.DS_Store
# generated simulation files
.work_*/
*.raw
*.log
# python cache files
__pycache__
# db file of doit
.doit.db
# do not store the environment
# but prepare a requirement.txt 
# for needed python modules
envs/reflow