[reflow]
WORK_DIR_PREFIX     = tmp
PROJECT             = reflow

[tools]
DIG_SYNTHESIS      = yosys
DIG_LINTER          = iverilog
DIG_SIMULATOR       = iverilog
DIG_COVERAGE       = covered
DIG_WAVEFORM_VIEWER = gtkwave
ANA_SIMULATOR       = ltspice
ANA_WAVEFORM_VIEWER = ltspice_view
PRJ_BASIC           = basic

[technology]
TECH_LIB            = $(CADTOOLS)/yosys/examples/cmos/cmos_cells.lib
