DIG_SYNTHESIS_TOOL  = yosys
DIG_SIMULATOR_TOOL  = iverilog
DIG_COVERAGE_TOOL   = covered
DIG_WAVEFORM_VIEWER = gtkwave
ANA_SIMULATOR_TOOL  = ltspice
ANA_WAVEFORM_VIEWER = ltspice_view
PLATFORM            = Ganymede
PROJECT_FLOW        = digital
export TECH_LIB     = $(CADTOOLS)/yosys/examples/cmos/cmos_cells.lib
